/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400&display=swap');

/* PAGE BACKGROUND */
  .hero {
        height: 60vh;
        background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
            url("images/menu.png");
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Playfair Display', serif;

    }

    .hero h1 {
        font-size: 45px;
        letter-spacing: 2px;
        color: white;
    }

    .hero-content {
        margin-top: -80px;
        /* move UP */
    }

    /* BREADCRUMB */

    .breadcrumb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 12px 0;
        margin-top: 0px;
        background: #e5dcd2;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #534931;
    }

    /* HOME BUTTON */

    .home-btn {
        color: #534931;
        padding: 6px 16px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }

    .home-btn:hover {
        background: #8e7a51;
    }

    /* SLASH */

    .breadcrumb span {
        color: #534931;
    }

    /* CURRENT PAGE */

    .breadcrumb p {
        margin: 0;
        color: #534931;
        font-weight: 500;
    }

/* MENU SECTION */

.menu-section{
width:90%;
margin:auto;
padding:60px 20px;
position:relative;
 text-align:center;
}
.menu-section h4{
    letter-spacing:2px;
    color:#7a6b55;
    font-weight:500;
    margin-bottom:3px; 
}
.menu-section h1{
    font-size:55px;
    margin:10px;
    color:#5a4d3b;
     margin-top:0px;       
    margin-bottom:15px; 

}

.menu-section p{
    max-width:650px;
    margin:auto;
    color:#6f6f6f;
    font-size:16px;
    line-height:1.6;
}

/* TITLE */

.menu-title{
font-family:'Playfair Display',serif;
text-align:center;
font-size:52px;
letter-spacing:3px;
color:#3b2a22;
margin-bottom:30px;
}

/* CATEGORY BUTTONS */

.menu-tabs{
display:flex;
justify-content:center;
gap:20px;
margin-bottom:60px;
margin-top:40px;
flex-wrap:wrap;
}

.tab-btn{
padding:10px 28px;
border:none;
background:#e6e6e6;
border-radius:25px;
font-weight:600;
cursor:pointer;
transition:.3s;
color:#3b2a22;
}

.tab-btn:hover{
background:#8b5e3c;
color:#fff;
}

/* GRID */

.menu-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:60px;
}

/* ITEM */

.menu-item{
padding-bottom:25px;
border-bottom:1px dashed rgba(0,0,0,0.15);
}

/* HEADER */

.menu-head{
display:flex;
align-items:center;
gap:10px;
}

/* NAME */

.menu-head h3{
margin:0;
font-size:20px;
color:#3b2a22;
font-weight:600;
}

/* DOTTED LINE */

.item-name{
font-weight:600;
color:#3b2a22;
}

.dots{
flex:1;
border-bottom:2px dotted #3b2a22;
margin-top:5px;
}


/* PRICE RIGHT SIDE */

.price{
font-weight:700;
color:#8b5e3c;
white-space:nowrap;
}

/* DESCRIPTION */

.desc{
font-size:14px;
margin-top:6px;
color:#5b4b42;
font-style:italic;
}

/* DECORATION IMAGES */

.menu-section::before{
content:"";
position:absolute;
top:100px;
left:-40px;
width:120px;
height:120px;
background:url("images/coffe4-removebg-preview.png") no-repeat center;
background-size:contain;
opacity: 0.9;;
}

.menu-section::after{
content:"";
position:absolute;
bottom:100px;
right:-40px;
width:120px;
height:120px;
background:url("images/coffe4-removebg-preview.png") no-repeat center;
background-size:contain;
opacity:0.9;
}

/* MOBILE */

@media(max-width:768px){

.menu-grid{
grid-template-columns:1fr;
}

.menu-title{
font-size:38px;
}

}
